/Lab1DataCylider.xyz
/Lab1DataPionowa.xyz
/Lab1DataPozioma.xyz
/Lab1Kod.txt
/Polaczone.xyz
/WizualizacjaCylindryczna.png
/WizualizacjaCylindrycznaInnyPunktWidzenia.png
/WizualizacjaPionowa.png
/WizualizacjaPozioma.png
